beautifulsoup4
chromadb
fastapi
jsonschema
Levenshtein
marker-pdf
nltk
numpy
ollama
pydantic
pynput
pyparsing
PyYAML
ruamel.yaml
rapidfuzz
requests
scipy
sentence-transformers
soupsieve
streamlit
surya-ocr
toml
torch
transformers
watchdog